.header {
  min-width: 1200px;
}

.setup-root > .bio {
  position: static;
  width: 700px;
  padding: 0 30px;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.playground {
  position: relative;
  align-self: flex-start;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}

.setup-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.editor {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #F6F8FA;
}

.input {
  height: 100%;
  border: 0;
  padding: 10px 8px;
  font-size: 0.75rem;
  font-family: monospace;
  resize: none;
  background-color: #FFFFFF;
}

.result {
  flex-basis: 700px;
  flex-shrink: 0;
  flex-grow: 1;
  overflow-y: scroll;
}

.controls {
  align-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.upload-images {
  position: relative;
  padding-right: 10px;
}

.upload-images__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.upload-images__input:hover + .upload-images__title {
  background-color: #E4E4E4;
}

.upload-images__input:focus + .upload-images__title {
  outline: 5px auto #5E9ED6;
}

.upload-images__title {
  padding: 15px 20px;
  font-size: 16px;
  background-color: #F1F1F1;
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: 150ms;
}

.images-trigger,
.cheatsheet-trigger {
  padding: 20px 10px;
  font-size: 0.75rem;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.images-trigger-title,
.cheatsheet-trigger-title {
  padding-bottom: 2px;
  border-bottom: 1px dashed #A2A2A2;
}

.images-trigger:hover .images-trigger-title,
.images-trigger.active .images-trigger-title,
.cheatsheet-trigger:hover .cheatsheet-trigger-title,
.cheatsheet-trigger.active .cheatsheet-trigger-title {
  border-color: #000000;
}

.images-trigger[disabled] {
  pointer-events: none;
  opacity: 0.4;
}

.sheet-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition-property: opacity;
  transition-duration: 150ms;
}

.sheet-backdrop.hidden {
  opacity: 0;
}

.images,
.cheatsheet {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 147px 60px 147px;
  background-color: #FFFFFF;
  box-shadow: 0 0 120px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  /* to overlay textarea with grammarly plugin */
  z-index: 1;
}

.images.hidden,
.cheatsheet.hidden {
  transform: translateY(-150%);
}

.images {
  padding: 30px 0 60px 0;
  overflow-x: scroll;
}

.images__list {
  display: flex;
  padding: 0 147px;
  box-sizing: border-box;
}

.images__image-container {
  position: relative;
}

.images__image-container + .images__image-container {
  margin-left: 10px;
}

.images__picture {
  max-height: 250px;
}

.images__title {
  position: absolute;
  margin-top: 4px;
}

.cheatsheet {
  flex-wrap: wrap;
}

.cheatsheet__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.cheatsheet__title {
  margin-bottom: 8px;
  font-size: 0.75rem;
  font-weight: 400;
}

.cheatsheet__example {
  width: 397px;
}

.cheatsheet__example + .cheatsheet__example {
  margin-top: 8px;
}

.cheatsheet__example-title {
  color: #525252;
}

.cheatsheet__example-body {
  padding: 21px 23px;
  white-space: nowrap;
  font-family: monospace;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  border-radius: 4px;
  background-color: #F6F8FA;
}

.cheatsheet__example-syntax {
  color: #000000;
  font-weight: bold;
}

.cheatsheet__example-data {
  color: #797A7B;
}

