.header {
  display: flex;
  align-items: baseline;
  align-self: flex-start;
  flex-shrink: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.logo:link,
.logo:visited {
  width: 139px;
  border: none;
  color: #000000;
  font-size: 25px;
  font-weight: 800;
  line-height: 1em;
  text-decoration: none;
}

.logo:hover {
  color: #4A4A4A;
}

.logo.inline {
  display: none;
}

.navigation {
  display: flex;
  align-items: baseline;
}

.navigation-item {
  font-size: 16px;
}

.navigation-item.current {
  font-weight: 400;
}

.navigation-item + .navigation-item {
  margin-left: 20px;
}

.share {
  display: flex;
  margin-left: 65px;
}

.share__twitter,
.share__facebook,
.share__github {
  display: flex;
  align-items: baseline;
}

.share__facebook,
.share__github {
  margin-left: 20px;
}

.share__icon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

a.share__link {
  font-size: 16px;
  border-bottom-style: dashed;
}
