@media screen and (max-width: 800px) {
  .header {
    padding: 65px 0;
  }
}

@media screen and (max-width: 560px) {
  body {
    align-items: flex-start;
  }

  .external-links {
    flex-direction: column;
    padding-top: 20px;
  }

  .external-link-item {
    padding: 10px 0;
  }

  .external-link-item + .external-link-item {
    margin-left: 0;
  }

  .header {
    text-align: left;
    padding: 30px 0 48px 0;
  }

  .main,
  .links {
    width: auto;
  }

  .setup-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .item-date {
    text-align: left;
  }
}
