html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

a {
  text-decoration: none;
}
a:link {
  color: #007AFF;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #5856D6;
}

.header {
  padding: 94px 0;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 400;
}

.subtitle {
  margin: 8px 0 0 0;
  font-size: 1.25rem;
}

.main,
.links {
  width: 500px;
}

.main {
  margin-bottom: 48px;
}

.list-caption,
.links-caption {
  margin: 0 0 16px 0;
}

.setups-list,
.links-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.setup-item + .setup-item,
.link-item + .link-item {
  margin-top: 16px;
}
