.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  margin: 8px 0 0 0;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  width: 660px;
  padding: 0 30px;
  box-sizing: border-box;
}

.description {
  position: absolute;
  left: 8px;
  top: 0;
  width: 150px;
  margin-bottom: 50px;
  font-size: 16px;
}

.list-caption {
  font-size: 16px;
  margin: 0 0 16px 0;
}

.setups-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.setup-item + .setup-item {
  margin-top: 16px;
}

.setup-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.setup-item__link {
  margin-right: 20px;
}

.setup-item__date {
  min-width: 120px;
  text-align: right;
}

.item-link {
  line-height: 1.4em;
}

.item-date {
  font-size: 16px;
  color: #989898;
}
