@media screen and (max-width: 894px) {
  .header {
    flex-direction: column;
    align-self: center;
    width: 660px;
    padding: 8px 30px;
  }

  .main {
    padding-top: 60px;
  }

  .share {
    flex-direction: column;
    margin-left: 0;
    margin-top: 30px;
  }

  .share__facebook,
  .share__github {
    margin-left: 0;
    margin-top: 3px;
  }
}

@media screen and (max-width: 660px) {
  body {
    align-items: flex-start;
  }

  .header {
    flex-direction: column;
    width: 100%;
    padding: 30px;
  }

  .logo {
    display: none;
  }

  .logo.inline {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-item + .navigation-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .share {
    flex-direction: row;
  }

  .share__facebook,
  .share__github {
    margin-left: 20px;
    margin-top: 0;
  }

  .main {
    width: 100%;
    padding-top: 40px;
  }

  .setup-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .setup-item__date {
    display: none;
  }
}
