.setup-root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  line-height: 1.3em;
  letter-spacing: 0.016em;
  margin-bottom: 38px;
}

.description-paragraph {
  width: 700px;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
}

.description-paragraph + .description-paragraph {
  margin-top: 16px;
}

.image {
  margin: 0;
}

.image__picture {
  width: 100%;
}

.description-paragraph + .image,
.image + .description-paragraph {
  margin-top: 30px;
}

.bio {
  position: absolute;
  top: 0;
  right: 30px;
  width: 320px;
  box-sizing: border-box;
}

.bio.static {
  position: static;
  width: 700px;
  padding: 0 30px;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.bio + .description {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 48px;
}

.name {
  margin: 0 0 8px 0;
  font-size: 30px;
  font-weight: 600;
}

.occupation,
.location,
.link {
  font-size: 16px;
  line-height: 1.25em;
}

.latest-update {
  margin-bottom: 64px;
}

.latest-update-date {
  margin-bottom: 8px;
  font-size: 0.7rem;
}

.latest-update-title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

.latest-update-message {
  margin: 8px 0 0 0;
}

.setup {
  word-wrap: break-word;
}

.environment {
  margin-bottom: 64px;
}

.environment-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.environment-title {
  width: 700px;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 800;
}

.environment-header .description {
  margin-top: 4px;
  margin-bottom: 10px;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-item .description {
  margin-top: 4px;
}

.tool-item + .tool-item {
  margin-top: 16px;
}

.tool-head {
  width: 700px;
  padding: 0 30px;
  box-sizing: border-box;
}

.tool-names-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.125rem;
}

.tool-names-list-separator {
  margin-right: 8px;
}

a.tool-name,
span.tool-name {
  font-weight: 600;
}
