@media screen and (max-width: 700px) {
  body {
    align-items: flex-start;
  }

  .goto-list {
    position: static;
    padding: 30px 30px 0 30px;
  }

  .bio {
    width: 100%;
    text-align: left;
    padding-top: 30px;
  }

  .latest-update {
    margin-bottom: 30px;
    padding: 0;
  }

  .description-paragraph,
  .environment-title,
  .tool-head {
    width: 100%;
  }
}
