.list-caption {
  margin: 0 0 30px 0;
  font-size: 32px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.list-item {
  margin-bottom: 25px;
}

.list-item__description {
  line-height: 1.23em;
}
